<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MySqlConnectionString"
             connectionString="Server=localhost;Database=scenario_db;User Id=myusername;Password=mypassword;Port=3306;"
             providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>
